/* Body Styling */
body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #f1f4f5;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}

/* Note App Container */
.note-app {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.note-app h1 {
    color: #f1f4f5;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Montserrat", serif;
}

.note-app h2 {
    color: #888888;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Montserrat", serif;
}

/* Note Item */
.note-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
    background-color: #1d1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.note-item:hover {
    transform: translateY(-5px);
    background-color: #292929;
}

.note-item-title {
    color: #f1f4f5;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

.note-item-date {
    color: #888888;
    font-size: 12px;
    margin-bottom: 12px;
}

.note-item-text {
    color: #f1f4f5;
    font-size: 18px;
    text-align: center;
}

/* Delete Button */
.note-item-delete {
    font-size: 16px;
    padding: 12px;
    background-color: #f1f4f5;
    color: #222222;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.note-item-delete:hover {
    background-color: rgba(243, 57, 0, 0.938);
    color: #f1f4f5;
    transform: scale(1.05);
}

/* Note Input Form */
.note-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #1d1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.note-input label {
    color: #f1f4f5;
    font-size: 16px;
    font-weight: 600;
}

.note-input input {
    padding: 12px;
    border: 1px solid #444444;
    border-radius: 8px;
    background-color: #222222;
    color: #f1f4f5;
    font-size: 16px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.note-input input:focus {
    border-color: rgba(243, 57, 0, 0.938);
    outline: none;
    box-shadow: 0 0 8px rgba(243, 57, 0, 0.938);
}

.note-input input::placeholder {
    color: #888888;
}

.note-input p {
    text-align: right;
    font-size: 14px; 
    margin: 5px 0; 
    transition: color 0.3s ease; 
}

.note-input p.red {
    color: red;
}

.note-input button {
    padding: 12px 16px;
    background-color: #f1f4f5;
    color: #222222;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.note-input button:hover {
    background-color: rgba(243, 57, 0, 0.938);
    color: #f1f4f5;
    transform: scale(1.05);
}

.note-input button:active {
    transform: scale(0.95);
}
