body{
    margin: 0;
    padding: 0;
    background-color: #222222;
    box-sizing: border-box;
}
.note-app{
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
}

.note-app h1 {
    color: #f1f4f5;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    font-family: "Montserrat", serif;
}

.note-item-title {
    color: #f1f4f5;
    font-weight: 700;
    font-size: 20px;
    font-family: "Montserrat", serif;
}

.note-item-date{
    color: #888888;
    font-weight: 400;
    font-size: 12px;
    font-family: "Montserrat", serif;
}

.note-item-text  {
    color: #f1f4f5;
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat", serif;
}

.note-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
    background-color: #1d1c1c;
    padding: 16px;
    border-radius: 8px;
}

.note-item-delete{
    font-size: 16px;
    padding: 12px;
    background-color: #f1f4f5;
    color: #222222;
    border-radius: 12px;
}
.note-item-delete:hover{
    background-color: rgba(243, 57, 0, 0.938);
    color: #f1f4f5;
    
}